body {
	font-family: sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}

h1 {
	font-size: 2.4rem;
}

.to-do-container {
	padding: 2.4rem 2.4rem;
	background-color: #999;
}

.input {
	display: flex;
	align-items: center;
	gap: 0.4rem;
	margin-bottom: 1.2rem;
	justify-content: center;
}

input {
	height: 100%;
	border: none;
	font-size: 1.2rem;
	padding: 0 0.2rem;
}

.input-btn {
	text-transform: uppercase;
	text-decoration: none;
	background-color: #000;
	color: #fff;
	padding: 0 0.8rem;
	font-weight: bold;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
}

ul {
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.8rem;
}

.edit-btn,
.delete-btn {
	font-size: 1.2rem;
	cursor: pointer;
}

.delete-btn {
	color: rgb(143, 0, 0);
	margin-left: 0.4rem;
}
